CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/ecommerce/'

database.default.hostname = localhost
database.default.database = ecommerce_ci4
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
